{% extends "base_registration.html" %}
{% load static %}

{% block title %}Edit your account{% endblock %}

{% block content %}
<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>-->
  <h1>Edit your account</h1>
  <p>You can edit your account using the following form:</p>
  <form method="post" enctype="multipart/form-data" id="post-form">
    {{ user_form.as_p }}
    {{ profile_form.as_p }}
    {% csrf_token %}
  <p><input type="submit" value="Save changes"></p>
  </form>
<!--  <script src="{% static 'scripts/main.js' %}"></script>-->
{% endblock %}


{% block javascript %}
<script>
  $("#post-form").submit(function (event){
      event.preventDefault();
      console.log("form submitted!")  // sanity check
      var serializedData = $(this).serialize();
      console.log(serializedData);
      $.ajax({
              type: 'POST',
              url: "{% url 'account:edit' %}",
              data: serializedData,
              success: function (response) {
                  // on successfull creating object
                  // 1. clear the form.
                  $("#post-form").trigger('reset');
                  console.log('form submitted');
                  },
              error: function (response) {
                  // alert the error if any error occured
                  alert(response["responseJSON"]["error"]);
              }
      });
  });
</script>
{% endblock javascript %}